<body class="profile">
<main class="">
    <div class="parallax-container">
        <div class="parallax"><img src="build/img/stock/cover-user.jpg" class="width-full" ></div>
        <div class="text">
            <h1> Restaurant List </h1>
        </div>
    </div>
    <div class="container">
    <% if user_signed_in? %>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="wrapper-left">
                <div class="side-pannel">
                    <a href="profile" class="tab chosen"><span class="fa fa-home"></span> Home</a>
                    <a href="favorite" class="tab"><span class="fa fa-star"></span> Favorite</a>
                    <a href="/waitlists"class="tab"><span class="fa fa-hourglass"></span> Waitlist</a>
                    <a href="delivery"class="tab"><span class="fa fa-rocket"></span> Delivery</a>
                    <a href="payment"class="tab"><span class="fa fa-credit-card"></span>Payment</a>
                    <a href="setting"class="tab"><span class="fa fa-cog"></span>Setting</a>
                </div>
            </div>
        </div>
    <% end %>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <div class="wrapper-right">
                <% if !@restaurants.blank?%>
                    <% @restaurants.each do |restaurant| %>
                        <% if @users.find_by_id(restaurant.user_id) != nil %>
                        <div class="col-md-6">
                            
                            <div class="panel panel-default restaurant-panel">

                                <div class="panel-heading"><%= @users.find_by_id(restaurant.user_id).name %></div>
                                <div class="panel-body">
                                    <div class="col-md-3">
                                        <img src="build/img/stock/logo-restaurant.jpg" class="img-thumbnail pull-left" alt="Restaurant Logo" width="134" height="126">
                                    </div>
                                    <div class="col-md-9">
                                        <ul class="pull-right">
                                            <li>$$$</li>
                                            <li><% (1..5).each do |i| %>
                                                <img src="build/img/stock/star.png" alt="Restaurant Logo" width="30" height="30">
                                                <% end %>
                                            </li>
                                            <li>Open now!</li>
                                            <li><% if (user_signed_in? && !current_user.rest) %>
                                                <a class="btn btn-warning" href="./waitlists_new?rest_id=<%= restaurant.user_id %>">Waitlist</a>
                                                <% elsif !user_signed_in? %>
                                                    <a class="btn btn-warning" href="./login">Waitlist</a>
                                                <% end %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <%end%>
                    <% end %> <!--end of for loop-->
                <% else %>
                    <h2> Search </h2>
                    <p>Can't find anything</p>
                    <p>Suggestions</p>
                    <ul style="list-style-type: circle;">
                        <li>Make sure all words are spelled correctly
                        <li>Try different keywords
                    </ul>
                <% end %>
            </div>
        </div>
    </div>
</main>

