<body class="career">
<div class="loading-page"></div>
<main>
    <div class="parallax-container">
        <div class="parallax"><img src="build/img/stock/office.jpg" class="width-full" /></div>
        <div class="text text-center">
            <h1> Career </h1>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="wrapper">
                <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                    <div class="h3">Available Jobs</div>
                    <ol>
                        <li>Internship: Software Engineer
                        <li>Internship: Content Provider
                    </ol>
                </div>
            </div>
        </div>
    </div>
</main>