<body class="privacy">
<div class="loading-page"></div>
<main>
    <div class="parallax-container">
        <div class="parallax"><img src="build/img/stock/court.jpg" class="width-full" /></div>
        <div class="text text-center">
            <h1> Privacy </h1>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="wrapper">
                <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                    <div class="h3">Privacy</div>
                    <ol>
                        <li>We will not spam the email given to us for no particular reason.
                        <li>We have the right to use the email given for our purpose.
                        <li>We will not distribute the email the user information to the restaurants.
                    </ol>
                </div>
            </div>
        </div>
    </div>
</main>