<body class="signup">
<main>
	<div class="container">
        
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
				<div class="text-center page-header">
		        	Sign Up
		        </div>
			</div>
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4">
				<a href="signup-user.html" class="box-option">
                    <img src="build/img/stock/user.jpg">
					<div class="text">User</div>
				</a>
			</div>
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-offset-0 col-md-4 col-lg-offset-0 col-lg-4">
				<a href="signup-restaurant.html" class="box-option">
                    <img src="build/img/stock/restaurant.jpg">
					<div class="text">Restaurant</div>
				</a>
			</div>
			<div class="clearfix"></div>
			<div class="text-center link-signup">
				Have an account? Login <a href="/login">here</a>
			</div>
		</div>
	</div>
</main>