<body class="team">
<div class="loading-page"></div>
<main>
    <div class="parallax-container">
        <div class="parallax"><img src="build/img/stock/office.jpg" class="width-full" /></div>
        <div class="text text-center">
            <h1> Who we are. </h1>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="team-wrapper">
                <img src="build/img/team/jenad-active.jpg"/>
                <img src="build/img/team/jenad.jpg"/>
                <div class="team-description">
                    <span class="td-name">
                        Jessica Nadia Lie
                    </span> |
                    <span class="td-title">
                        CoFounder
                    </span>
                    <hr>
                    <a href="https://www.facebook.com/jessica.nadia.lie"><img src="build/img/logo/fb50.png" class="socmed"/></a>
                    <a href="https://www.linkedin.com/in/jessica-lie-504843100"><img src="build/img/logo/in50.png" class="socmed"/></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="team-wrapper">
                <img src="build/img/team/astrid-active.jpg"/>
                <img src="build/img/team/astrid.jpg"/>
                <div class="team-description">
                    <span class="td-name">
                        Cecilia Astrid Maharani
                    </span> |
                    <span class="td-title">
                        CoFounder
                    </span>
                    <hr>
                    <a href="https://www.facebook.com/cecilia.astrid.7"><img src="build/img/logo/fb50.png" class="socmed"/></a>
                    <a href="https://www.linkedin.com/in/cecilia-maharani-0b79b0b0"><img src="build/img/logo/in50.png" class="socmed"/></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="team-wrapper">
                <img src="build/img/team/billy-active.jpg"/>
                <img src="build/img/team/billy.jpg"/>
                <div class="team-description">
                    <span class="td-name">
                        Bernardus Billy Tjiptoning
                    </span> |
                    <span class="td-title">
                        CoFounder
                    </span>
                    <hr>
                    <a href="https://www.facebook.com/bernardusbilly"><img src="build/img/logo/fb50.png" class="socmed"/></a>
                    <a href="https://www.linkedin.com/in/bernardus-billy-tjiptoning-9a490076"><img src="build/img/logo/in50.png" class="socmed"/></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="team-wrapper">
                <img src="build/img/team/fendy-active.jpg"/>
                <img src="build/img/team/fendy.jpg"/>
                <div class="team-description">
                    <span class="td-name">
                        Fendy Soegiono
                    </span> |
                    <span class="td-title">
                        CoFounder
                    </span>
                    <hr>
                    <a href="https://www.facebook.com/profile.php?id=1644892599"><img src="build/img/logo/fb50.png" class="socmed"/></a>
                    <a href="https://www.linkedin.com/in/fendy-soegiono-7139b3b0"><img src="build/img/logo/in50.png" class="socmed"/></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="team-wrapper">
                <img src="build/img/team/onel-active.jpg"/>
                <img src="build/img/team/onel.jpg"/>
                <div class="team-description">
                    <span class="td-name">
                        Ronald Arnanjaya
                    </span> |
                    <span class="td-title">
                        CoFounder
                    </span>
                    <hr>
                    <a href="https://www.facebook.com/wakakak"><img src="build/img/logo/fb50.png" class="socmed"/></a>
                    <a href="https://www.linkedin.com/in/ronald-arnanjaya-02438289"><img src="build/img/logo/in50.png" class="socmed"/></a>
                </div>
            </div>
        </div>
    </div>
</main>