<body class="team">
<div class="loading-page"></div>
<main>
    <div class="parallax-container">
        <div class="parallax"><img src="build/img/stock/office.jpg" class="width-full" /></div>
        <div class="text text-center">
            <h1> Who we are. </h1>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="team-wrapper">
                <img src="build/img/team/jenad.jpg" class="width-full" />
                <div class="team-description">
                    <span class="td-name">
                        Jessica Nadia Lie
                    </span> |
                    <span class="td-title">
                        CoFounder
                    </span>
                    <hr>
                    <a href="#"><img src="build/img/logo/fb50.png" class="socmed"/></a>
                    <a href="#"><img src="build/img/logo/in50.png" class="socmed"/></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="team-wrapper">
                <img src="build/img/team/astrid.jpg" class="width-full" />
                <div class="team-description">
                    <span class="td-name">
                        Cecilia Astrid Maharani
                    </span> |
                    <span class="td-title">
                        CoFounder
                    </span>
                    <hr>
                    <a href="#"><img src="build/img/logo/fb50.png" class="socmed"/></a>
                    <a href="#"><img src="build/img/logo/in50.png" class="socmed"/></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="team-wrapper">
                <img src="build/img/team/billy.jpg" class="width-full" />
                <div class="team-description">
                    <span class="td-name">
                        Bernardus Billy Tjiptoning
                    </span> |
                    <span class="td-title">
                        CoFounder
                    </span>
                    <hr>
                    <a href="#"><img src="build/img/logo/fb50.png" class="socmed"/></a>
                    <a href="#"><img src="build/img/logo/in50.png" class="socmed"/></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="team-wrapper">
                <img src="build/img/team/fendy.jpg" class="width-full" />
                <div class="team-description">
                    <span class="td-name">
                        Fendy Soegiono
                    </span> |
                    <span class="td-title">
                        CoFounder
                    </span>
                    <hr>
                    <a href="#"><img src="build/img/logo/fb50.png" class="socmed"/></a>
                    <a href="#"><img src="build/img/logo/in50.png" class="socmed"/></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="team-wrapper">
                <img src="build/img/team/onel.jpg" class="width-full" />
                <div class="team-description">
                    <span class="td-name">
                        Ronald Arnanjaya
                    </span> |
                    <span class="td-title">
                        CoFounder
                    </span>
                    <hr>
                    <a href="#"><img src="build/img/logo/fb50.png" class="socmed"/></a>
                    <a href="#"><img src="build/img/logo/in50.png" class="socmed"/></a>
                </div>
            </div>
        </div>
    </div>
</main>