<body class="termscondition">
<div class="loading-page"></div>
<main>
    <div class="parallax-container">
        <div class="parallax"><img src="build/img/stock/court.jpg" class="width-full" /></div>
        <div class="text text-center">
            <h1> Terms and Condition </h1>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="wrapper">
                <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                    <div class="h3">About this site.</div>
                    <ol>
                        <li>This website is made for UC Berkeley CS 169 Fall 2015 class project.
                        <li>The purpose of this website is to help people in connection to a restaurant.
                    </ol>
                </div>
            </div>
        </div>
    </div>
</main>